<div class="game-console">
  <!-- <app-main-panel></app-main-panel> -->
  <!-- <app-top-panel></app-top-panel>
  <app-bottom-panel></app-bottom-panel> -->
  <!-- <app-game-over></app-game-over> -->
  <!-- <app-timer></app-timer> -->

<router-outlet></router-outlet>

</div>
