<div class="bottom-panel">
  <div class="left-panel">
    <div class="text">
      <span>S</span>
      <span>C</span>
      <span>O</span>
      <span>R</span>
      <span>E</span>
    </div>

    <div class="score">{{totalScore}}</div>
  </div>
  <div class="middle-panel">
    <div class="icons">
      <div class="container">
        <div class="row">
          <div class="article col-md-2 dog" [class.disable]="dogMoved"></div>
          <div class="article col-md-2 cake" [class.disable]="cakeMoved"></div>
          <div class="article col-md-2 cupcake" [class.disable]="cupcakeMoved"></div>
          <div class="article col-md-2 salt" [class.disable]="saltMoved"></div>
          <div class="article col-md-2 bottle" [class.disable]="bottleMoved"></div>
          <div class="article col-md-2 fruit" [class.disable]="fruitMoved"></div>
        </div>

        <div class="row">
          <div class="article col-md-2 guitar" [class.disable]="guitarMoved"></div>
          <div class="article col-md-2 owl" [class.disable]="owlMoved"></div>
          <div class="article col-md-2 bird" [class.disable]="birdMoved"></div>
          <div class="article col-md-2 mixer" [class.disable]="mixerMoved"></div>
          <div class="article col-md-2 glass" [class.disable]="glassMoved"></div>
          <div class="article col-md-2 hat" [class.disable]="hatMoved"></div>
        </div>

        <div class="row">
            <div class="article col-md-2 candle" [class.disable]="candleMoved"></div>
            <div class="article col-md-2 lizard" [class.disable]="lizardMoved"></div>
            <div class="article col-md-2 gloves" [class.disable]="glovesMoved"></div>
            <div class="article col-md-2 tissue" [class.disable]="tissueMoved"></div>
            <div class="article col-md-2 dice" [class.disable]="diceMoved"></div>
            <div class="article col-md-2 spoon" [class.disable]="spoonMoved"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-panel"></div>
</div>