.bottom-panel {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 123px;
  background-image: url(/assets/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.left-panel {
  position: relative;
  width: 20%;
  height: 100%;
  background-image: url(/assets/images/side-board.png);
  background-repeat: no-repeat;
  background-size: 200px 200px;
  float: left;
}

.text{
    position: absolute;
    width: 40px;
    height: 100px;
    display: block;
    top:12px;
}

span{
    display: block;
    height: 16px;
    font-weight: bold;
    text-align: center;
    font-size:20px;
}

.score{
    position: absolute;
    height: 100px;
    width: 120px;
    font-size: 68px;
    font-weight: bolder;
    text-align: center;
    left: 38px;
    top: 3px;
}

.middle-panel {
  position: relative;
  width: 60%;
  height: 100%;
  background-image: url(/assets/images/middle-board.png);
  background-repeat: no-repeat;
  background-size: 610px 120px;
  float: left;
}

.right-panel {
  position: relative;
  width: 20%;
  height: 100%;
  background-image: url(/assets/images/basket.png);
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
  background-position: center;
}

.article {
  position: relative;
  width: 30px;
  height: 30px;
  // border: 1px solid blue;
  top: 20px;
  padding: 10px;
  -webkit-box-shadow: 10px 10px 5px -6px rgba(255, 252, 255, 1);
  -moz-box-shadow: 10px 10px 5px -6px rgba(255, 252, 255, 1);
  box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.452);
  border-radius: 30px;
}

.disable{
  opacity: 0.5;
}

.dog {
  background-position: center;
  background-image: url(/assets/images/dog.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.cake {
  background-position: center;
  background-image: url(/assets/images/cake.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.cupcake {
  background-position: center;
  background-image: url(/assets/images/cupcake.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.salt {
  background-position: center;
  background-image: url(/assets/images/salt.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.bottle {
  background-position: center;
  background-image: url(/assets/images/bottle.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.fruit {
  background-position: center;
  background-image: url(/assets/images/strawberries.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.guitar {
  background-position: center;
  background-image: url(/assets/images/guitar-1.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.owl {
  background-position: center;
  background-image: url(/assets/images/owl-1.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.bird {
  background-position: center;
  background-image: url(/assets/images/bird.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.mixer {
  background-position: center;
  background-image: url(/assets/images/mixer.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.glass {
  background-position: center;
  background-image: url(/assets/images/wine-glass.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.hat {
  background-position: center;
  background-image: url(/assets/images/hat.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.candle {
  background-position: center;
  background-image: url(/assets/images/candle-1.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.lizard {
  background-position: center;
  background-image: url(/assets/images/lizard.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.gloves {
  background-position: center;
  background-image: url(/assets/images/gloves.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.tissue {
  background-position: center;
  background-image: url(/assets/images/tissue.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.dice {
  background-position: center;
  background-image: url(/assets/images/dice.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.spoon {
    background-position: center;
    background-image: url(/assets/images/spoon.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .broom {
    background-position: center;
    background-image: url(/assets/images/broom.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  