.timer-container {
    position: absolute;
    height: 35px;
    width: 110px;
    background-color: beige;
    right: 10px;
    top: 10px;
}

.timer-box {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 30px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.timer {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    background-color: rgb(125, 103, 134);
    font-size: 10px;
    color: white;
    margin: 6px;
    text-align: center;
    line-height: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}